.brighten {
  color: white;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.headline2 {
  text-transform: uppercase;
  font-size: 1.5em !important;
  font-weight: bold;
}

.headline1 {
  text-transform: uppercase;
  font-size: 1.em !important;
  font-weight: bold;
}

#gp-logo {
    width: 5%;
    height: auto;
}

#gp-logo img {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
}

